*

!.gitignore

!*.py
!*.md
!*.sh
!*.sbatch
!*.pack

!Cl.xyz
!Na.xyz

!01_molecule_minimization/
!01_molecule_minimization/*/
!02_bulk_solution_md/
!02_bulk_solution_md/*/
!03_adsorption_md/
!03_adsorption_md/*/

!02_bulk_solution_md/02_plot.png
!03_adsorption_md/03_plot.png

